@import url('https://rsms.me/inter/inter.css');
body {
  margin: 0;
  font-family: 'Inter',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 300px){

  .share{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 86%;
    top: 44px;
    background: url("./images/btn_Default.png") no-repeat;
    background-position-x: center;
    background-size: cover;
  }

  .share:active{
    background: url("./images/btn_Pressed.png") no-repeat;
    background-position-x: center;
    background-size: cover;
    /*width: 150px;*/
    /*height: 51px;*/
    /*right: 344px;*/
  }
  #profile__img{
    width: 88px;
    height: 88px;

  }
  .profile__img{
    text-align: center;
    border-radius: 275px;
    width: 88px;
    height: 88px;
    margin-top: 64px;
    margin-left: auto;
    background: url("./images/profile__img.png") no-repeat;
    margin-right: auto;
    background-position-x: center;
    background-size: cover;
  }

  .profile__img:active {
    background: url("./images/profile___hover.png") no-repeat;
    background-position-x: center;
    background-size: cover;
  }

  #twitter{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #101828;
    margin-top: 24px;
  }
  button{
    width: 91%;
    height: 68px;
    background: #EAECF0;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    gap: 8px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
  button:active{
    background: #D0D5DD;
  }
  button:focus{
    outline: none;
  }
  .b_con{
    text-align: center;
    padding-top: 56px;
  }
  a{
    text-decoration: none;
  }
  a:hover{
    color: transparent;
  }
  #slack{
    display: none;
  }
  .social{
    height: 24px;
    text-align: center;
    margin-top: 48px;
  }
  .slack{
    height: 100%;
  }
  .git{
    height: 100%;
    margin-left: 25px;
  }
  .note{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #667085;
    margin-top: 16px;
    width: auto;
  }
  .last{
    margin: 175px 0 48px;
  }
  .zuri{
    width: 139px;
  }
  .ig{
    width: 99px;
    margin-top: 16px;
  }
  .line{
    position: relative;
    top: 132px;
    padding-right: 16px;
    padding-left: 16px;
  }
  .contact_con{
    padding-left: 4%;
    padding-top: 64px;
    padding-right: 4%;
  }
  .me{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: #101828;
    margin-bottom: 20px;
  }
  .hi{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #475467;
    margin-bottom: 48px;
  }
  .contact_con label{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
  }
  .name{
    align-items: center;
    padding: 10px 14px;
    gap: 8px;
    width: 348px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    margin-bottom: 24px;

  }
  .email_name{
    align-items: center;
    padding: 10px 14px;
    gap: 8px;
    width: 348px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    margin-bottom: 24px;
  }
  input[type=text]:focus{
    border: 1px solid #84CAFF;
    outline: #84CAFF;
  }
  input[type=email]:focus{
    border: 1px solid #84CAFF;
    outline: #84CAFF;
  }
  textarea{
    padding: 12px 14px;
    gap: 8px;
    width: 348px;
    height: 132px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    margin-bottom: 26px;
  }
  textarea:focus{
    border: 1px solid #84CAFF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;
    outline: #84CAFF;
  }
  .checked {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    border-radius: 6px;
  }
  input[type="checkbox"]:checked{
    border: 1px solid #1570EF;
    background: #1570EF;
  }
  #cap{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #475467;
    flex: none;
    order: 0;
    align-self: stretch;
    margin-bottom: 32px;
  }
  .contact_con button{
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;
    width: 343px;
    height: 48px;
    background: #1570EF;
    border: 1px solid #1570EF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    flex: none;
    order: 1;
    align-self: stretch;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 13px;
    margin-left: 0;
  }
  .contact_con button:active{
    background: #175CD3;
  }

}
@media (min-width: 1220px){
  .foter{
    background-color: beige;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }
  .share{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 352px;
    top: 44px;
    left: unset;
    background: url("./images/share.png") no-repeat;
    background-position-x: center;
    background-size: cover;
  }

  .share:hover{
    background: url("./images/share__hover.png") no-repeat;
    background-position-x: center;
    background-size: cover;
    width: 150px;
    height: 51px;
    right: 344px;
  }
  #profile__img{
    width: 88px;
    height: 88px;

  }
  .profile__img{
    text-align: center;
    border-radius: 275px;
    width: 88px;
    height: 88px;
    margin-top: 64px;
    margin-left: auto;
    background: url("./images/profile__img.png") no-repeat;
    margin-right: auto;
    background-position-x: center;
    background-size: cover;
  }

  .profile__img:hover {
    background: url("./images/profile___hover.png") no-repeat;
    background-position-x: center;
    background-size: cover;
  }

  #twitter{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #101828;
    margin-top: 24px;
  }
  button{
    width: 1152px;
    height: 76px;
    background: #EAECF0;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    gap: 8px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
  }
  button:hover{
    background: #D0D5DD;
  }
  .b_con{
    text-align: center;
    padding-top: 56px;
  }
  a{
    text-decoration: none;
  }
  a:hover{
    color: transparent;
  }
  #slack{
    display: none;
  }
  .social{
    height: 20px;
    text-align: center;
    margin-top: 48px;
  }
  .slack{
    height: 100%;
  }
  .git{
    height: 100%;
    margin-left: 25px;
  }
  .note{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #667085;
    margin-top: auto;
  }
  .last{
    padding-left: 113px;
    padding-right: 113px;
    margin: 175px 0 48px;
  }
  .zuri{
    width: 185px;
  }
  .ig{
    width: 132px;
    float: right;
  }
  .line{
    position: relative;
    top: 132px;
    padding-right: 113px;
    padding-left: 113px;
  }
  .contact_con{
    padding-left: 27%;
    padding-top: 156px;
    padding-right: 23%;
  }
  .me{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: #101828;
    margin-bottom: 20px;
  }
  .hi{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #475467;
    margin-bottom: 48px;
  }
  .contact_con label{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
  }
  .name{
    align-items: center;
    padding: 10px 14px;
    gap: 8px;
    width: 348px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    margin-bottom: 24px;

  }
  .email_name{
    align-items: center;
    padding: 10px 14px;
    gap: 8px;
    width: 720px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    margin-bottom: 24px;
  }
 input[type=text]:focus{
   border: 1px solid #84CAFF;
   outline: #84CAFF;
  }
  input[type=email]:focus{
    border: 1px solid #84CAFF;
    outline: #84CAFF;
  }
  textarea{
    padding: 12px 14px;
    gap: 8px;
    width: 720px;
    height: 132px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    margin-bottom: 26px;
  }
  textarea:focus{
    border: 1px solid #84CAFF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;
    outline: #84CAFF;
  }
  #checked {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    border-radius: 6px;
  }
  input[type="checkbox"]:checked{
    border: 1px solid #1570EF;
    background: #1570EF;
  }
  #cap{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #475467;
    flex: none;
    order: 0;
    align-self: stretch;
    margin-bottom: 32px;
  }
  .contact_con button{
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;
    width: 720px;
    height: 48px;
    background: #1570EF;
    border: 1px solid #1570EF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    flex: none;
    order: 1;
    align-self: stretch;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 13px;
    margin-left: 0;
  }
  .contact_con button:hover{
    background: #175CD3;
  }
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    border-radius: 6px;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background: white;
    border: 1px solid #1570EF;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #1570EF;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

}
@media (min-width: 1280px){
  .contact_con {
    padding-left: 27%;
    padding-top: 156px;
    padding-right: 17%;
  }
}
@media (min-width: 1440px){
  .contact_con {
    padding-left: 27%;
    padding-top: 156px;
    padding-right: 23%;
  }
}
@media (min-width: 1920px){
  .contact_con {
    padding-left: 27%;
    padding-top: 156px;
    padding-right: 36%;
  }
}
